bkm_static/BkmExpressPaymentService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<xs:schema xmlns:ns1="http://www.bkmexpress.com.tr" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://www.bkmexpress.com.tr">

    <xs:element name="directPayment" type="ns1:directPayment"></xs:element>

    <xs:element name="directPaymentResponse" type="ns1:directPaymentResponse"></xs:element>

    <xs:element name="initializePayment" type="ns1:initializePayment"></xs:element>

    <xs:element name="initializePaymentResponse" type="ns1:initializePaymentResponse"></xs:element>

    <xs:element name="queryPaymentResult" type="ns1:queryPaymentResult"></xs:element>

    <xs:element name="queryPaymentResultResponse" type="ns1:queryPaymentResultResponse"></xs:element>

    <xs:complexType name="initializePayment">
        <xs:sequence>
            <xs:element name="initializePaymentWSRequest" type="ns1:initializePaymentWSRequest" form="qualified"
                        minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="initializePaymentWSRequest">
        <xs:complexContent>
            <xs:extension base="ns1:merchantWSBaseRequest">
                <xs:sequence>
                    <xs:element name="mId" type="xs:string"></xs:element>
                    <xs:element name="sUrl" type="xs:string"></xs:element>
                    <xs:element name="cUrl" type="xs:string"></xs:element>
                    <xs:element name="msUrl" type="xs:string" nillable="true" minOccurs="0"></xs:element>
                    <xs:element name="mcUrl" type="xs:string" nillable="true" minOccurs="0"></xs:element>
                    <xs:element name="rSource" type="xs:string" nillable="true" minOccurs="0"></xs:element>
                    <xs:element name="dType" type="xs:string" nillable="true" minOccurs="0"></xs:element>
                    <xs:element name="osSource" type="xs:string" nillable="true" minOccurs="0"></xs:element>
                    <xs:element name="uAgent" type="xs:string" nillable="true" minOccurs="0"></xs:element>
                    <xs:element name="sAmount" type="xs:string"></xs:element>
                    <xs:element name="cAmount" type="xs:string"></xs:element>
                    <xs:element name="instOpts">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="bank" type="ns1:bank" maxOccurs="unbounded"></xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ts" type="xs:string"></xs:element>
                    <xs:element name="s" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="merchantWSBaseRequest">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="bank">
        <xs:sequence>
            <xs:element name="id" type="xs:string"></xs:element>
            <xs:element name="name" type="xs:string"></xs:element>
            <xs:element name="expBank" type="xs:string"></xs:element>
            <xs:element name="bins">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bin" type="ns1:bin" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bin">
        <xs:sequence>
            <xs:element name="value" type="xs:string"></xs:element>
            <xs:element name="insts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inst" type="ns1:installment" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="installment">
        <xs:sequence>
            <xs:element name="nofInst" type="xs:int"></xs:element>
            <xs:element name="amountInst" type="xs:string"></xs:element>
            <xs:element name="cAmount" type="xs:string"></xs:element>
            <xs:element name="tAmount" type="xs:string"></xs:element>
            <xs:element name="cPaid1stInst" type="xs:boolean"></xs:element>
            <xs:element name="expInst" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="initializePaymentResponse">
        <xs:sequence>
            <xs:element name="initializePaymentWSResponse" type="ns1:initializePaymentWSResponse" form="qualified"
                        minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="initializePaymentWSResponse">
        <xs:complexContent>
            <xs:extension base="ns1:merchantWSBaseResponse">
                <xs:sequence>
                    <xs:element name="t" type="xs:string" nillable="true"></xs:element>
                    <xs:element name="url" type="xs:string" nillable="true"></xs:element>
                    <xs:element name="ts" type="xs:string" nillable="true"></xs:element>
                    <xs:element name="s" type="xs:string" nillable="true"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="merchantWSBaseResponse">
        <xs:sequence>
            <xs:element name="result" type="ns1:result"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="result">
        <xs:sequence>
            <xs:element name="resultCode" type="xs:int"></xs:element>
            <xs:element name="resultMsg" type="xs:string"></xs:element>
            <xs:element name="resultDet" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="directPayment">
        <xs:sequence>
            <xs:element name="directPaymentWSRequest" type="ns1:directPaymentWSRequest" form="qualified"
                        minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="directPaymentWSRequest">
        <xs:complexContent>
            <xs:extension base="ns1:directPaymentWSBaseRequest">
                <xs:sequence>
                    <xs:element name="mId" type="xs:string"></xs:element>
                    <xs:element name="accountId" type="xs:string"></xs:element>
                    <xs:element name="sAmount" type="xs:string"></xs:element>
                    <xs:element name="tid" type="xs:string"></xs:element>
                    <xs:element name="extra" type="xs:string" nillable="true" minOccurs="0"></xs:element>
                    <xs:element name="ts" type="xs:string"></xs:element>
                    <xs:element name="s" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="directPaymentWSBaseRequest">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="directPaymentResponse">
        <xs:sequence>
            <xs:element name="directPaymentWSResponse" type="ns1:directPaymentWSResponse" form="qualified"
                        minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="directPaymentWSResponse">
        <xs:complexContent>
            <xs:extension base="ns1:directPaymentWSBaseResponse">
                <xs:sequence>
                    <xs:element name="tid" type="xs:string"></xs:element>
                    <xs:element name="ts" type="xs:string"></xs:element>
                    <xs:element name="s" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="directPaymentWSBaseResponse">
        <xs:sequence>
            <xs:element name="result" type="ns1:kkbwsResult"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="kkbwsResult">
        <xs:sequence>
            <xs:element name="resCode" type="xs:int"></xs:element>
            <xs:element name="resMsg" type="xs:string" nillable="true" minOccurs="0"></xs:element>
            <xs:element name="resDet" type="xs:string" nillable="true" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="queryPaymentResult">
        <xs:sequence>
            <xs:element name="paymentResultWSRequest" type="ns1:paymentResultWSRequest" form="qualified"
                        minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paymentResultWSRequest">
        <xs:complexContent>
            <xs:extension base="ns1:merchantWSBaseRequest">
                <xs:sequence>
                    <xs:element name="mId" type="xs:string"></xs:element>
                    <xs:element name="t" type="xs:string"></xs:element>
                    <xs:element name="ts" type="xs:string"></xs:element>
                    <xs:element name="s" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="queryPaymentResultResponse">
        <xs:sequence>
            <xs:element name="paymentResultWSResponse" type="ns1:paymentResultWSResponse" form="qualified"
                        minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paymentResultWSResponse">
        <xs:complexContent>
            <xs:extension base="ns1:merchantWSBaseResponse">
                <xs:sequence>
                    <xs:element name="t" type="xs:string"></xs:element>
                    <xs:element name="success" type="xs:boolean"></xs:element>
                    <xs:element name="ts" type="xs:string"></xs:element>
                    <xs:element name="s" type="xs:string"></xs:element>
                    <xs:element name="bid" type="xs:string"></xs:element>
                    <xs:element name="bname" type="xs:string"></xs:element>
                    <xs:element name="cBin" type="xs:string"></xs:element>
                    <xs:element name="noflnst" type="xs:int"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>