bkm_static/RequestMerchInfoService_clear.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.bkmexpress.com.tr" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bkmexpress.com.tr" name="RequestMerchInfoService">
    <types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.bkmexpress.com.tr">
            <xs:element name="requestMerchInfo" type="ns1:requestMerchInfo" />
            <xs:element name="requestMerchInfoResponse" type="ns1:requestMerchInfoResponse" />
            <xs:complexType name="requestMerchInfo">
                <xs:sequence>
                    <xs:element name="requestMerchInfoWSRequest" type="ns1:requestMerchInfoWSRequest" form="qualified" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="requestMerchInfoWSRequest">
                <xs:complexContent>
                    <xs:extension base="ns1:merchantWSBaseRequest">
                        <xs:sequence>
                            <xs:element name="t" type="xs:string" />
                            <xs:element name="bid" type="xs:string" />
                            <xs:element name="bName" type="xs:string" />
                            <xs:element name="cBin" type="xs:string" />
                            <xs:element name="nofInst" type="xs:int" />
                            <xs:element name="ts" type="xs:string" />
                            <xs:element name="s" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="merchantWSBaseRequest">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="requestMerchInfoResponse">
                <xs:sequence>
                    <xs:element name="requestMerchInfoWSResponse" type="ns1:requestMerchInfoWSResponse" form="qualified" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="requestMerchInfoWSResponse">
                <xs:complexContent>
                    <xs:extension base="ns1:merchantWSBaseResponse">
                        <xs:sequence>
                            <xs:element name="t" type="xs:string" nillable="true" />
                            <xs:element name="posUrl" type="xs:string" nillable="true" />
                            <xs:element name="posUid" type="xs:string" nillable="true" />
                            <xs:element name="posPwd" type="xs:string" nillable="true" />
                            <xs:element name="s3Dauth" type="xs:boolean" nillable="true" />
                            <xs:element name="mpiUrl" type="xs:string" nillable="true" />
                            <xs:element name="mpiUid" type="xs:string" nillable="true" />
                            <xs:element name="mpiPwd" type="xs:string" nillable="true" />
                            <xs:element name="md" type="xs:string" nillable="true" />
                            <xs:element name="xid" type="xs:string" nillable="true" />
                            <xs:element name="s3DFDec" type="xs:boolean" nillable="true" />
                            <xs:element name="cIp" type="xs:string" nillable="true" />
                            <xs:element name="extra" type="xs:string" nillable="true" />
                            <xs:element name="ts" type="xs:string" nillable="true" />
                            <xs:element name="s" type="xs:string" nillable="true" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="merchantWSBaseResponse">
                <xs:sequence>
                    <xs:element name="result" type="ns1:result" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="result">
                <xs:sequence>
                    <xs:element name="resultCode" type="xs:int" />
                    <xs:element name="resultMsg" type="xs:string" />
                    <xs:element name="resultDet" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xsd:schema>
    </types>
    <message name="requestMerchInfo">
        <part name="parameters" element="ns1:requestMerchInfo" />
    </message>
    <message name="requestMerchInfoResponse">
        <part name="parameters" element="ns1:requestMerchInfoResponse" />
    </message>
    <portType name="RequestMerchInfoServiceImpl">
        <operation name="requestMerchInfo">
            <input wsam:Action="http://www.bkmexpress.com.tr/RequestMerchInfoServiceImpl/requestMerchInfoRequest" message="ns1:requestMerchInfo" />
            <output wsam:Action="http://www.bkmexpress.com.tr/RequestMerchInfoServiceImpl/requestMerchInfoResponse" message="ns1:requestMerchInfoResponse" />
        </operation>
    </portType>
    <binding name="RequestMerchInfoServiceImplPortBinding" type="ns1:RequestMerchInfoServiceImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="requestMerchInfo">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="RequestMerchInfoService">
        <port name="RequestMerchInfoServiceImplPort" binding="ns1:RequestMerchInfoServiceImplPortBinding">
            <soap:address location="#address:location#" />
        </port>
    </service>
</definitions>